wipe.py

# Python
/__pycache__
wiper.py
*.pyc
*.pyo
*.pyd

# Virtual environment
/venv
/.venv
/env
/include
/lib
/bin

# Database
*.db
*.sqlite
*.sqlite3

# OS / Editor
.DS_Store
*.swp
*.swo
secret.key